.vjs-9-16 {
    width: 507px !important;
    height: 321px !important;
  }
  
  .vjs-fluid:not(.vjs-audio-only-mode),
  .video-js.vjs-9-16:not(.vjs-audio-only-mode),
  .vjs_video_671-dimensions.vjs-fluid:not(.vjs-audio-only-mode) {
    padding: 0 !important;
  }